<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 智能选股</title>
    <script src="/static/index.js"> </script>
    <script src="/static/jquery-3.1.0.min.js" ></script>

    <h1>KDJ</h1>
    <form>
        fastkperiod:<input type="text" name="fastkperiod" value="9"/>
        slowkperiod:<input type="text" name="slowkperiod" value="3" />
        slowdperiod:<input type="text" name="slowdperiod" value="3" />
        <input type="button" value="filter" onclick="choose()"/>

    </form>
    <div id="results">
        the results
    </div>
</head>
<body>

</body>
</html>